*{
    box-sizing: border-box;
    /*font-family: 'Oswald', sans-serif;*/
    font-family: 'Montserrat', sans-serif;
}

.nav {
    background: transparent;
    height: 70px;
    width: 100%;
    z-index: 999;
    padding-top: 30px;
    padding-bottom: 0px;
    transition: 0.3s;
}

nav.scrolled {
    background: black;
    transition: 0.3s;
}

.navbar ul li .nav-link {
    color: #fff;
}

a.nav-link {
    font-weight: 900px;
    font-size: 16px;
    text-align: center;
    padding: 16px;
}

.nav-link {
    display: inline-block;
    color: #fff;
    font-weight: 900px;
    letter-spacing: 1.7px;
    text-transform: uppercase;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 20px;
    padding-left: 20px;
}

.nav-link:hover, .navbar ul li.active .nav-link {
    color: #fff;
    background-color: rgba(255, 255, 255, 0.3);
    height: 60px;
    transition: 0.3s;
}

.custom-toggler.navbar-toggler {
    border-color: white;
}

@media only screen and (max-width : 991px) {
    #header {
    background: black;
}
}

#banner {
    background-image: url("/img/banner.png");
}

#btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    border-radius: 50%;
    z-index: 999;
}

#products {
    background-image: url("/img/products.png")
}

footer ul li a{
    list-style-type: none;
    text-decoration: none;
    text-align: left!important;
    color: white;
    opacity: 0.9;
}

footer .container {
    text-align: left!important;
}

footer .footer-section ul {
    list-style-type: none;
    text-decoration: none;
    display: inline;
    opacity: 0.9;
}
footer .copyright-right ul {
    list-style-type: none;
    text-decoration: none;
    display: inline-flex;
    letter-spacing: 10px;
}

.copyright-left {
    text-align: left;
}

.copyright-right {
    text-align: right;
}

@media only screen and (max-width : 991px) {
    footer .copyright-right {
    text-align: center;
}
}

@media only screen and (max-width : 991px) {
    footer .copyright-left {
    text-align: center;
}
}

@media only screen and (max-width : 991px) {
    footer .footer-link-container {
    text-align: center;
}
}

#img-fluid1{
    width: 5px;
}

.row.single-form {
    box-shadow: 0 2px 20px -5px rgba(0,0,0,0.5);
}

.left {
    background-image: url("/img/contactus.png");
    padding: 290px 150px;
}

#right button a {
    text-decoration: none;
    color: #fff;
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' \
      xmlns='http://www.w3.org/2000/svg%27%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' \
      stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}